<h1>Welcome to 49er Food Express Menu!</h1>
<div class="row">
  <div class="plans clearfix">
    <div class="col-lg-3 col-lg-offset-3 plan">
      <h2>Chick-fil-A</h2>
      <div class="features">
        <ul>
          <li>Item 1-1: Chicken Sandwich</li>
          <li>Price: $3.99</li>
          <%= link_to 'Order', new_order_path, class: 'btn btn-primary sign-up' %>
          <li>Item 1-2: Spicy Chicken Delux Sandwich</li>
          <li>Price: $4.99</li>
          <%= link_to 'Order', new_order_path, class: 'btn btn-primary sign-up' %>
          <li>Item 1-3: Chicken Nuggets</li>
          <li>Price: $3.99</li>
          <%= link_to 'Order', new_order_path, class: 'btn btn-primary sign-up' %>
        </ul>
      </div>
      <p>
        <!-- -->
      </p>
    </div>
    
    <div class="col-lg-3 plan">
      <h2>Wendy's</h2>
      <div class="features">
        <ul>
          <li>Item 2-1: Jr. Cheeseburger</li>
          <li>Price: $2.99</li>
          <%= link_to 'Order', new_order_path, class: 'btn btn-primary sign-up' %>
          <li>Item 2-2: Baconator</li>
          <li>Price: $4.99</li>
          <%= link_to 'Order', new_order_path, class: 'btn btn-primary sign-up' %>
          <li>Item 2-3: Fresh Made Salad</li>
          <li>Price: $4.99</li>
          <%= link_to 'Order', new_order_path, class: 'btn btn-primary sign-up' %>
        </ul>
      </div>
      <p>
        <!-- -->
      </p>
      </div>  
      
      <div class="col-lg-3 plan">
      <h2>Bojangles</h2>
      <div class="features">
        <ul>
          <li>Item 3-1: 4 Piece Homestyle Tenders™</li>
          <li>Price: $3.99</li>
          <%= link_to 'Order', new_order_path, class: 'btn btn-primary sign-up' %>
          <li>Item 3-2: Cajun Filet Club Sandwich</li>
          <li>Price: $3.99</li>
          <%= link_to 'Order', new_order_path, class: 'btn btn-primary sign-up' %>
          <li>Item 3-3: Bacon, Egg and Cheese Biscuit</li>
          <li>Price: $3.99</li>
          <%= link_to 'Order', new_order_path, class: 'btn btn-primary sign-up' %>
        </ul>
      </div>
      <p>
        <!-- -->
      </p>
      <div class="col-lg-3 plan">
      <h2>Drinks</h2>
      <div class="features">
        <ul>
          <li>coke</li>
          <li>sweet tea</li>
          <li>pepsi</li>
          <li>orange jiuce</li>
        </ul>
      </div>
      <p>
        <!--<div class="price pull-right"> -->
      </p>
    </div>
</div>
</div>
