<!-- this is to stop the redundancy in the edit and new html files
this file will have the code that is needed for both the edit and new html-->
<!--the following will be sent to the new.htmlerb and the edit.html.erb-->

<%= render 'shared/errors', obj: @order %>

<div class='row'>
  <div class='col-xs-12'>
    <%= form_for(@order, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
     <div class="control-label col-sm-2">
      <%= f.label :item %>
     </div>
     <div class="col-sm-8">
      <%= f.text_field :item, class: "form-control", placeholder: "Order item", autofocus: true %>
     </div>
    </div>
    
    <div class="form-group">
     <div class="control-label col-sm-2">
      <%= f.label :drink %>
     </div>
     <div class="col-sm-8">
      <%= f.text_field :drink, class: "form-control", placeholder: "Drink", autofocus: true %>
     </div>
    </div>
    
    <div class="form-group">
     <div class="control-label col-sm-2">
      <%= f.label :room %>
     </div>
     <div class="col-sm-8">
      <%= f.text_field :room, class: "form-control", placeholder: "Room number", autofocus: true %>
     </div>
    </div>
    
    <div class="form-group">
     <div class="control-label col-sm-2">
      <%= f.label :description %>
     </div>
     <div class="col-sm-8">
      <%= f.text_area :description, class: "form-control", placeholder: "Add description", autofocus: true %>
     </div>
    </div>
    
   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <%= f.submit class: 'btn btn-primary btn-lg' %>
    </div>
   </div>
    <% end %>
   <div class="col-xs-4 col-xs-offset-4">
   [ <%= link_to "Cancel request and return to order history", orders_path %> ]
 </div>
</div> 
