<h1>Showing selected order</h1>

<p>
 Item: <%= @order.item %>
</p>

<p>
 Drink: <%= @order.drink %>
</p>

<p>
 Room: <%= @order.room %>
</p>

<p>
 Description: <%= @order.description %>
</p>

<%= link_to "Edit this order", edit_order_path(@order) %>
<%= link_to "Back to order history", orders_path %>